* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-family: 'Spartan', sans-serif;
}

nav {
    background-color: #ffffff;
    width: 100%;
    height: 5rem;
    display: flex;
}
nav ul {
    float: left;
    display: flex;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav h3 {
    padding: 1rem 2rem;
    float: left;
    align-self: center;
}

nav ul li a {
    display: block;
    padding: 0rem 2rem;
    line-height: 5rem;
    color: #0a0a0a;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li  {
    width: 100%;
}

nav ul li ul li a {
    padding: 1rem 2rem;
    line-height: unset;
    white-space: nowrap;
}

nav ul li ul li a:hover {
    background-color: #efefef;
}
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    font-family: 'Spartan', sans-serif;
}

nav {
    background-color:  #D5F5E3 ;
    width: 100%;
    height: 5rem;
    display: flex;
}
nav ul {
    float: left;
    display: flex;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav h3 {
    padding: 1rem 2rem;
    float: left;
    align-self: center;
}

nav ul li a {
    display: block;
    padding: 0rem 2rem;
    line-height: 5rem;
    color: #0a0a0a;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    border: 1px solid #cccccc;
    background-color: #EAFAF1 ;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li  {
    width: 100%;
}

nav ul li ul li a {
    padding: 1rem 2rem;
    line-height: normal;
    white-space: nowrap;
}

nav ul li ul li a:hover {
    background-color: #82E0AA ;
}



.footer {
	background-color: rgba(0,128,128,0.8);
	position:fixed;
	left:0px;
	bottom:0px;
	height:70px;
	width:100%;
	padding: 80px;
  }
  .whitetext {
	color:white;
	margin: 0px;
	padding:0px;
  }
  .whitelogo {
	color:white;
	font-size:em;
  }
  .whitelogo:hover {
	color:lightgray;
  }