<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Taller</title>
    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/Buscar.css'%}">

<!-- NAV -->
{% block content %}
{% include 'Navbar.html'%}
{% endblock %}
<!-- FIN NAV -->
</head>
<body>
<!-- ----------------------- -->
<!-- Grilla -->
<!-- Texto -->
<div class="container my-3" style="background-color: rgb(254, 126, 126)">
    <p class="text-md-center text-light fs-3" >Lista de Talleres</p>
</div>

<!-- Lista -->
<div class="container-md">
<!-- Buscar -->
        <div class="container-md my-2">
            <input type="text" name="buscador" id="buscador" placeholder="Escribe el taller en el que te gustaria participar">
        </div>

        <table class="table table-hover table-striped table-bordered ">
            <thead class="table-dark">
                <tr>
                    <td><p class="text-md-center text-light fs-5" >#</p></td>
                    <td><p class="text-md-center text-light fs-5" >Nombre Taller</p></td>
                    <td><p class="text-md-center text-light fs-5" >Nombre Instructor</p></td>
                    <td><p class="text-md-center text-light fs-5" >Postular</p></td>
                </tr>
            </thead>
            <tbody>
            <tr class="taller">
                <th scope="row">2</th>
                <td><p class="text-md-center text-dark fs-5 " >Taller de Lectura</p></td>
                <td><p class="text-md-center text-dark fs-5" >Juanito</p></td>
                <td><a href="" data-bs-toggle="modal" data-bs-target="#modal4"><p class="text-md-center text-primary fs-5" ><p class="text-md-center text-primary fs-5" >Detalle de taller</p></a></td>
            </tr>
            <tr class="taller">
                <th scope="row">2</th>
                <td><p class="text-md-center text-dark fs-5" >Taller de Yoga</p></td>
                <td><p class="text-md-center text-dark fs-5" >Yerko</p></td>
                <td><a href="" data-bs-toggle="modal" data-bs-target="#modal1"><p class="text-md-center text-primary fs-5" >Detalle de taller</p></a></td>
            </tr>
            </tbody>
        </table>
</div>
<!-- Grilla FIN-->
<!-- ----------------------- -->    
<!-- ----------------------- -->
<!-- Footer -->
{% include 'Footer.html'%}
<!-- Footer FIN-->
<!-- ----------------------- -->  
<!-- --MODAL--------->
<div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="card mb-3">
            <img src="{% static 'core/img/adulto-mayor-3.jpeg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-md-center">Taller de Yoga</h5>
              <p class="card-text">El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general. El yoga se desarrolló como una práctica espiritual hace miles de años.</p>
              <p class="card-text"><small class="text-muted">Instructor Juanito Pérez</small></p>
            </div>
          </div>
    </div>  
</div>
<div tabindex="-1" aria-labelledby="modal1" aria-hidden="true" class="modal fade" id="modal4">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="card mb-3">
            <img src="{% static 'core/img/TallerLectura.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-md-center">Taller de Lectura</h5>
              <p class="card-text">Cuanto más lees, más información procesa tu mente, por lo que será más ágil y capaz de retener conocimientos. Las personas exitosas ejercitan su mente diariamente mediante la lectura y otros recursos como la realización de crucigramas y juegos de ingenio.</p>
              <p class="card-text"><small class="text-muted">Instructor Yerko Pérez</small></p>
            </div>
          </div>
    </div>   
<!-- --FIN MODAL---------> 
    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="{% static 'core/js/Fbuscar.js'%}"></script>
</body>


</html>