<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css Formulario -->
    <link rel="stylesheet" href="{% static 'core/css/Formulario.css'%}">

    <title>Inscripcion como Instructor</title>

</head>

<body>
    <!-- NAV -->
    {% block content %}
    {% include 'Navbar.html'%}
    {% endblock %}
    <!-- FIN NAV -->
    <!-- LEYENDA -->
    <div class="container-md my-3 rounded" style="background-color: rgb(254, 126, 126)">

        <p class="text-md-center text-light fs-3" >Participa en los Taller que hemos preparado para ti!!!</p>
        <hr>
        <p class="text-md-center text-light fs-6 " >Completa el formulario y te informaremos el resultado</p>
    </div>
    <!-- FIN LEYENDA -->
<!-- ----------------------- -->
    <!-- FORMULARIO -->
    <div class="container-md my-5">
        <form class="row g-3">
            <div class="col-md-12">
              <label for="validationDefault01" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="validationDefault01" value="" required>
            </div>
            <div class="col-md-12">
              <label for="validationDefault02" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="validationDefault02" value="" required>
            </div>
            <div class="col-md-12">
              <label for="validationDefaultUsername" class="form-label">Correo</label>
              <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
            <div class="col-md-12">
              <label for="validationDefault03" class="form-label">Comuna</label>
              <input type="text" class="form-control" id="validationDefault03" required>
            </div>
            
            <div class="col-md-12 position-relative">
                <label for="validationTooltip05" class="form-label">Selecciona un taller</label>
                <select class="form-select" id="validationTooltip04" required>
                  <option selected  value="">Yoga</option>
                  <option selected  value="">Lectura</option>
                  <option selected  value="">Computación</option>
                  <option selected  value="">...</option>
                  
                </select>
                <div class="invalid-tooltip">
                  Please select a valid state.
                </div>
              </div>
            
            
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Envíar</button>
            </div>
            <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                  <label class="form-check-label" for="invalidCheck2">
                    Acepto las condiciones y privacidad
                  </label>
                </div>
              </div>
          </form>
    
    </div>

    <!-- FIN FORMULARIO -->
    <!-- ----------------------- -->

    <!-- Footer -->
    {% include 'Footer.html'%}
    <!-- Footer FIN-->
    <!-- ----------------------- -->
        <!-- JS BOOTSTRAP -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>