<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css Formulario -->
    <link rel="stylesheet" href="{% static 'core/css/Formulario.css'%}">

    <title>Inscripcion como Instructor</title>

</head>

<body>
    <!-- NAV -->
    {% block content %}
    {% include 'Navbar.html'%}
    {% endblock %}
    <!-- FIN NAV -->
    <!-- LEYENDA -->
    <div class="container-md my-3 rounded" style="background-color: rgb(254, 126, 126)">

        <p class="text-md-center text-light fs-3" >Participa en nuestros entretenidos Taller que hemos preparado para ti!</p>
        <hr>
        <p class="text-md-center text-light fs-6 " >Completa el formulario y te informaremos el resultado</p>
    </div>
    <!-- FIN LEYENDA -->
<!-- ----------------------- -->
    <!-- FORMULARIO -->
    <div class="container-md my-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-x-12">
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Comentario </label>
                        <textarea class="form-control" name="" id="descripcion" rows="3"></textarea>
                    </div>
                    <!-- <div class="input-group mb-3">
                        <div class="container">
                            <label for="descripcion" class="form-label">Subir documentación</label>
                        </div>
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Subir archivo</button>
                        <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                      </div> -->
                </form>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Enviar</button>
                        <button type="submit" class="btn btn-primary">Limpiar</button>
                    </div>
                    
            </div>
        </div>

    </div>

    <!-- FIN FORMULARIO -->
    <!-- ----------------------- -->

    <!-- Footer -->
    {% include 'Footer.html'%}
    <!-- Footer FIN-->
    <!-- ----------------------- -->
        <!-- JS BOOTSTRAP -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>